.top-bar {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3.1fr 1.1fr;
    justify-items: center;
    background-color: #333;
    padding: 10px 0px;
}

.menu {
    grid-column: 1/2;
}

.menu a {
    color: white;
    text-decoration: none;
    border-right: solid white 2px;
    padding: 8px 8px;
}

.active {
    background-color: #3CB371;
    border-left: solid white 2px;
}

.search {
    grid-column: 2/3;
    padding-right: 5px;
    
}

.search>button::before {
    content: "\1F50D";
}

button {
    background-color: #333;
}

.gallery {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    margin: 15px auto;
}

.gallery>img {
    width: 100%;
    height: auto;
}

.img1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.img2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.img3 {
    grid-column: 2/4;
    grid-row: 1/3;
}

.img4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.img5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.circle-article {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: space-evenly;
}

.card {
    display: grid;
    grid-template-rows: 0.8fr 0.1fr 0.1fr;
    justify-items: center;
    align-items: start;
}

.card>img {
    width: 80%;
    height: auto;
    border-radius: 100px;
}

.card>p {
    text-align: center;
}

.bottom-articles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}

.note_img {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr 1.2em;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2%;
}

.note_img>img {
    width: 100%;
    height: auto;
    grid-row: 1/-1;
    grid-column: 1/2;
}

.note_img>p {
    grid-column: 2/3;
}

.img_right {
    grid-template-columns: 2fr 1fr;
    justify-items: end;
}

.img_right>img {
    grid-column: 2/3;
}

.img_right>p {
    grid-column: 1/2;
}

.note {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr 1.2em;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

.note>h3 {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.note>p {
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: justify;
}

.note>a {
    grid-column: 3/4;
}

.bottom-articles a {
    width: 6em;
    padding: 0.3em 0.4em;
    background: #4aa3ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.7em;
    border: solid black 1px;
}

footer {
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
    background: #333;
    font-size: 0.9em;
    color: white;
}

@media (max-width: 768px) {
    .top-bar {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: stretch;
        grid-column-gap: 5%;
    }
    .menu {
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-column: 1/2;
    }
    .active {
    border-left: none;
    }
    .search {
        grid-column: 2/3;
    }
    .gallery {
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr;
    }
    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .img4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .img5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .circle-article {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .card>img {
        width: 30%;
    }
    .bottom-articles {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 0px;
        grid-row-gap: 5px;
    }
    .note_img {
        grid-template-rows: repeat(2,0.5fr) 1.2em;
    }
    .note {
        grid-template-rows: repeat(2,0.5fr) 1.2em;
    }
    .bottom-articles img {
        width: 100%;
        height: 100%;
    }
    p,h3,h4,a {
        font-size: 2em;
    }
}