/* Стили для выделения ошибок */
.error {
    border: solid thin red;
}
.error-text {
    color: red;

}
.error-message {
    color: red;
}

.input-group {
    margin-bottom: 12px;
}

#output {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
}
#output p {
    font-weight: bold;
}